# VS Code local config (per-machine)
.vscode/c_cpp_properties.json
.vscode/settings.json
.vscode/cph_submit_problems.json

# CPH
.cph/

# C++ binaries (no extension, no dot)
**/[0-9]*
!**/*.cpp
!**/*.h
!**/*.txt
!**/*.md
!**/*.py

# Build folders
build/